/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.navbar-toggler {
    margin-right: 4%;
    font-size: 1.25rem;
    line-height: 1;
    border: 2px solid #ffffff;
    border-radius: .5rem;
}

.navbar-toggler-icon {
    background-image: url("menu.png");
}

.btn-primary {
    color: #41C2E3;
    background-color:#fff;
    border: 2px solid rgba(65, 194, 227, 0.1);
    border-color: #41C2E3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 2rem;
}

.btn-secondary {
    color: #fff;
    background-color: #41C2E3;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    padding: 10px 30px 10px 30px;
    border-radius: 2rem;
}

a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: right;
    font-weight: 300;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #41C2E3;
    text-decoration: none;
}

.navbar-nav {
    padding: 1% 4% 1% 0%;
    text-align: right;
}

.nav {
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    padding-left: none;
}

.card-img, .card-img-top, .card-img-bottom {
    flex-shrink: 0;
    width: 5%;
}


.card-deck {
    width: 70%;
    margin: auto;
}

hr {
    border-top: 2px solid rgba(65, 194, 227, 0.1);
}

.services-card{
    border: none;
}


.card{
    border-radius: 2rem;
    // border: none;
}

.index-bar{
    color: #41C2E3;
    border-top: 2px solid rgba(65, 194, 227, 1);
}

.row{
    align-content: center;
    margin: auto;
}

.show-card{
    border: none;
    text-align: center;
}